<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <h1>Components</h1>
    
    <div id="app">
        <app-some-component-a></app-some-component-a>
        <app-some-component-b></app-some-component-b>
        <app-some-component-d></app-some-component-d>
    </div>

    <script src="components.js"></script>
</body>
</html>
